{{> menu id="settings"}}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/8fe88056-95cf-41a7-b264-3253cbb98167%2Fabout.jpg?v=1595066738947">
  </div>
  <div class="column">
        <form class="ui stacked segment form" action="/accounts/updatemember/{{member.id}}" method="POST">
      <h1 class="ui green header">Edit Details</h1>
      <div class="two fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Name" type="text"  name="name" value = {{member.name}}>
        </div>
        <div class="field">
          <label>Gender</label>
           <div class="ui left icon input">
            <i class="venus mars icon"></i>
            <input placeholder="Gender" type="text" name="gender" value ={{member.gender}}>
          </div>
        </div>
      </div>
      <div class="field required">
         <label>Email</label>
          <div class="ui left icon input">
              <i class="at icon"></i>
              <input placeholder="Email" name="email" value ={{member.email}}>
          </div>
      </div>
      <div class="field required">
        <label>Password</label>
          <div class="ui left icon input">
              <i class="user lock icon"></i>
              <input type="password"  name="password" value ={{member.password}}>
          </div>
      </div>
      <div class="field">
        <label>Address</label>
        <div class="ui left icon input">
          <i class="address card icon"></i>
          <input type="text" name="address" value ={{member.address}}>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Height</label>
          <input type="number" placeholder="Height (cm)" step="0.1"  min="0" max="250"name="height" value ={{member.height}}>
        </div>
        <div class="field">
          <label>Starting Weight</label>
          <input type="number" placeholder="weight (kg)" step="0.1"  min="0" max="250"name="startingweight" value ={{member.weight}}>
        </div>
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
  </div>
</div>